*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background-color: #ffefd5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    background-color: #b94e58;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-weight: 600;
    box-shadow: 10px 0px 13px -7px #000000;
    transition: box-shadow 250ms;
}

button:hover:not(button[disabled]) {
    box-shadow: 2px 2px 9px 1px #000000;
}

button[disabled] {
    opacity: 30%;
    cursor: default;
}

button.delete-btn,
button.change-btn {
    padding: 5px;
}

button.deleteUserBtn{
    display: block;
    margin-top: 25px;
    background-color: #FF0000;

}

.change-btn {
    margin-right: 8px;
}

.container {
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    min-width: 320px;
    max-width: 1240;
}

.header {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 40px;
    background-color: #FFDEAD;
    box-shadow: 10px 0px 13px -7px #000000;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todos-buttons-list {
    display: flex;
    column-gap: 20px;
}

.authorization-buttons-list {
    display: flex;
    column-gap: 20px;
}

.notes-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.todo {
    width: 350px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #C0C0C0;
}

.form {
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 10px;
    border: 1px solid black;
}

.form input {
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    margin-right: 15px;
}

.form label {
    font-weight: 600;
}

.form-register {
    background-color: #FFA07A;
}

.form-login {
    background-color: #98FB98;
}
.form-login p,
.form-register p{
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
}

.todo__checkbox {
    margin-right: 120px;
    width: 20px;
    height: 20px;
}

.text {
    margin-bottom: 20px;
}

.userProfile {
    padding: 30px;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 10px 0px 13px -7px #000000;
    background-color: #F5FFFA;
    font-weight: 600;
    line-height: 1.7;
}

.userProfile__date {
    margin-bottom: 20px;
}

.userProfile form {
    margin-top: 20px;
}

.userProfile input {
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    margin-right: 15px;
}

.todoForm {
    display: flex;
    align-items: flex-end;
    column-gap: 20px;
    margin-bottom: 25px;

}

.todoForm textarea {
    padding: 10px;
    resize: none;
    border-radius: 10px;
    box-shadow: 10px 0px 13px -7px #000000;
}

.changeForm{
    margin-bottom: 10px;
}

.changeForm input{
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    margin-right: 15px;
    margin-bottom: 10px;
}

.changeForm button{
    padding: 5px;
}